html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #673ab7; 
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
}

@keyframes icon-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #000000;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent; 
}

.whatsapp-float:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
